:root {
  --main-bg-color: #1d1d1dfa;
  --shadow-top-light: -3px -4px 11px 0px #2e2d2d;
  --shadow-bottom-dark: 6px 5px 13px 0px #1c1c1c;
  --shadow-game-board: var(--shadow-top-light), var(--shadow-bottom-dark);
  --shadow-inset-dark: inset 8px 12px 20px 3px #151515;
  --shadow-inset-light: inset -3px -3px 20px 7px #292929;
  --shadow-dark-outline: 1px 1px 8px 2px #19191959;  
  --shadow-game-box: var(--shadow-inset-dark), var(--shadow-inset-light), var(--shadow-dark-outline);
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--main-bg-color);
  font-family: sans-serif;
  margin: 0px;
  color: #cccccc;
  text-shadow: 3px 5px 6px black

}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.play-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 592px;
}

.win-display {
  box-shadow: var(--shadow-game-box);
  border-radius: 20px;
  margin: 10px 10px 10px;
  padding: 0px 25px;
  min-width: 200px;
  text-align: center;
}

.top-display {
  display: flex;
  padding: 10px;
  margin: 10px;
  flex: auto; 
  justify-content: center;
  border-radius: 15px;
}

.game-board {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-template-rows: repeat(3, minmax(150px, 1fr));
  grid-gap: 25px;
  border-radius: 20px;
  padding: 35px;
  box-shadow:  var(--shadow-game-board);
}

.game-box {
  display: flex;
  justify-content: center;

  box-shadow:  var(--shadow-game-box);
  border-radius: 20px;
}

.token {
  display: flex;
  max-width: 100px;
  filter: drop-shadow(7px 13px 0px #505050)
}

.mini-board {
  margin: auto;
  grid-template-columns: repeat(3, minmax(20px, 1fr));
  grid-template-rows: repeat(3, minmax(20px, 1fr));
  padding: 10px;
  grid-gap: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: none;
}

.mini-board .game-box {
  border-radius: 1px;
  box-shadow: none;
}

.mini-board .token {
  filter: drop-shadow(1px 1px 0px #505050);
  max-width: 10px;
}

ul {
  padding-inline-start: 0px;
  list-style: none;
  column-count: 2;
  break-inside: avoid;
}

li {
  break-inside: avoid;
  margin-bottom: 10px;
}

.win-scroll {
  overflow-y: auto;
  max-height: 85%;
}